################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/ValidationAdapter/.vs
/ValidationAdapter/ValidationAdapter/obj
/ValidationAdapter/ValidationAdapter/bin
/ValidationAdapter/ValidationAdapter.UnitTests/obj
/ValidationAdapter/ValidationAdapter.UnitTests/bin
/ValidationAdapter/ValidationAdapter/nuget.config
/ValidationAdapter/ValidationAdapter.AspNetCore/obj
/ValidationAdapter/ValidationAdapter.AspNetCore/bin
/ValidationAdapter/ValidationAdapter.AspNetCore/nuget.config
/ValidationAdapter/ValidationAdapter.AspNetCore.UnitTests/obj
/ValidationAdapter/ValidationAdapter.AspNetCore.UnitTests/bin
/ValidationAdapter/ValidationAdapter.AspNetCore.Swashbuckle/obj
/ValidationAdapter/ValidationAdapter.AspNetCore.Swashbuckle/bin
/ValidationAdapter/ValidationAdapter.AspNetCore.Swashbuckle/nuget.config
/ValidationAdapter/ValidationAdapter.AspNetCore.Swashbuckle.UnitTests/obj
/ValidationAdapter/ValidationAdapter.AspNetCore.Swashbuckle.UnitTests/bin