################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/ValidationAdapter/.vs
/ValidationAdapter/ValidationAdapter/obj
/ValidationAdapter/ValidationAdapter/bin
